@import "../../../assets/variables";

.main {
    height: 100%;
}
.title {
    text-align: center;
    padding: 2em;
    align-content: center;
    justify-content: center;
}
.inline {
    display: flex;
    flex-wrap: wrap;
}
.table-container {
    height: calc(100% - 100px);
}