@import "../../../assets/variables";
.list-box {
    height: 250px;
    width: 225px;
    background-color: $white;
    -webkit-box-shadow: 0px 5px 10px 0px #000000;
    box-shadow: 0px 5px 10px 0px #00000040;
    border-radius: 2.5%;
    .title {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        padding: 1em;
    }
    .list {
        padding: 0px 10px 0px 20px;
    }
}
.add-box {
    height: 250px;
    width: 225px;
    background-color: $gray;
    -webkit-box-shadow: 0px 5px 10px 0px #000000;
    box-shadow: 0px 5px 10px 0px #00000040;
    border-radius: 2.5%;
}
