<div class="main p-2 overflow-auto">
    <div class="head">
        <div class="head-column" *ngFor="let headColumn of tableInfo.head" >
            {{ headColumn.name }}
        </div>
    </div>
    <div class="body" *ngFor="let bodyRow of tableInfo.bodyRow; index as i" >
        <div class="body-column" *ngFor="let bodyColumn of bodyRow.bodyInfo; index as j" (dblclick)="toggleCellEditing(i, j)">
            <span *ngIf="!edit[i][j]"> {{ bodyColumn.name }} </span>
            <div *ngIf="edit[i][j]">
                <input type="text" [value]="bodyColumn.name" #value (keyup.enter)="onEditCell(i, j, value.value); emitEvent(i, j, value.value)" class="form-control">
            </div>
        </div>
    </div>
</div>
