@import "../../../assets/variables";
.main {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    background-color: $white;
    -webkit-box-shadow: 0px 5px 10px 0px #000000;
    box-shadow: 0px 5px 10px 0px #00000040;
    border-radius: 10px;
    height: calc(100%);
    overflow-y: hidden !important;
    &:hover {
        overflow-y: auto !important;
    }
}
.title {
    text-align: center;
    padding: 2em;
    align-content: center;
    justify-content: center;
}
.head {
    display: flex;
    flex-direction: row;
    background-color: $purple;
    color: $white;
    border-radius: 0.5em 0.5em 0 0;
    .head-column {
        min-width: 255px;
        text-align: center;
        padding: 0.5em;
    }
}
.body {
    display: flex;
    flex-direction: row;
    background-color: $transparent-purple;
    .body-column {
        min-width: 255px;
        text-align: center;
        padding: 0.5em;
    }
}
.body:nth-child(even) {
    background-color: $white;
}

input {
    display: block;
    width: 100%;
    padding-left: 0.375rem;
    // font-size: 1rem;
    // font-weight: 400;
    // line-height: 0.5;
    color: #212529;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.2rem;
}
input:focus {
    outline: none;
}
